
* {
    box-sizing: border-box;
    /* text-align: left; */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-image: url("http://www.cndajin.com/data/wls/194/17783550.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    background: white;
    text-align: center;
}

/* #intro {
    background: white;
    text-align: center; */

#title {
    font-size: 32px;
    color: red;
}

.question{
    height: 20px;
    background: rgb(152, 152, 218);
}

